/*
* 常更新样式
* 由Cloudflare app额外添加
*/
.body-bg-day {
    background-image: url(https://static.littlesecret.cn/images/backgrounds/love/t0143fee64924dde337_optimized.jpg);
}
.body-bg-night {
    background-image: url(https://static.littlesecret.cn/images/backgrounds/love/292765_001_optimized.jpg);
}
body.home #masthead {
    background-image: url(https://static.littlesecret.cn/images/backgrounds/love/CBF55731-88FA-44E9-B700-F806797B3915_optimized.jpeg);
}
.widget-container:not(#custom_html-4) {
    background: var(--widget-bg-color);
}
.widget-frontcolor-changes {
    color: var(--widget-font-color);
}
body {
    --widget-bg-color: unset;
    --widget-font-color: unset;
}
