@font-face {
	font-weight: 400;
	font-style: normal;
	font-family: riziyunxiyuangb;
	src: url(https://*/fonts/1cf50f2968554cfdae1ce4eaa3aaf6c2.ttf)
		format("truetype");
	font-display: swap;
}
body {
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}
body.home #masthead {
	height: 100vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
body.home #header-image-main,
body.home #header-image-main-inside {
	height: 100% !important;
	max-height: 100% !important;
}
body.home #header-page-title {
	bottom: 30%;
	-webkit-animation: unset;
	animation: unset;
}
body.home h1.entry-title {
	font-family: riziyunxiyuangb;
}
#masthead .header-image {
	background-attachment: unset;
}
.header-fixed#site-header-main,
.header-fixed#site-header-main #access::after {
	box-shadow: none;
	-webkit-transition: unset;
	transition: unset;
}
#access {
	transition: all 1s linear;
}
#site-header-main:not(.header-fixed) #access {
	opacity: 0;
	transform: translateX(20px);
}
#site-header-main:not(.header-fixed) #access:hover {
	opacity: 1;
	transform: translateX(0);
}
#site-header-main.header-fixed::after {
	content: "";
	position: absolute;
	width: 100%;
	height: inherit;
	left: 0;
	background: var(--nav-mask-bg-color);
	z-index: -1;
}
#main article figcaption {
	text-align: center;
}
article .article-inner > div[itemprop] *::selection {
	background: rgb(255, 181, 161);
	color: #fff;
}
#site-title a {
	color: #ffb5a1 !important;
	font-weight: 700;
	font-size: 22px;
	font-family: riziyunxiyuangb !important;
}
.widget-container {
	margin-bottom: 1rem;
}
.widget-container:not(#custom_html-4):not(#custom_html-6) {
	background: var(--widget-bg-color);
}
.widget-frontcolor-changes {
	color: var(--widget-font-color);
}
.widget-title {
	color: var(--widget-title-color);
}
body {
	cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAACYklEQVRYhe2WT2saQRiHf+87u6ti6GVNQ3PwElCb1j/tuYd8iORkAhURAoGo+QQ5eu0lh1pSyCUUcon3wiKUniylYBGjLfRiD4m4UVqTuDs9ZLUNtCE0uj3UH+xhZ4Z5npld3hnAycrKisA/CAFALpe75/V6wwC+FAqFzwCkWwIMgCzLuru8vPzE7/eH8vn84lDMNYHT09MZTdPi2Wz2la7roa2trdj29ja7JnBxceGzbFtXVfVOPp/fn52djZycnMTdkGAAsCxLFcwzAMDMnmw2uxcMBu+32+1Hk/45GQBs22ZVVT3DRiLSNjY29hYWFhbn5uYmKsEOkBVF0X7tICKRyWReRiKRB/Pz84+XlpYUVwWGEul0ejccDj+MRqMTkWAAkFKSEOJPk3MqlXqxGI1ORGK0A9cIAAA/XVsrxmKx6LglbrIDo7Grq6vP4/F4bJwSCgBiZiKim0zIyWSyCCDjvL8zDGNwWwFIKUlRlBuvKJlMFoUQaSKyDMOojEWAmK9UvZ2dncODg4M6gAEAEJEEAGY+9/l8nUAg0NN13YvLc+OvDy8FAIQQUIQYFRvDMN6USqXy0dFRudvtmk4zaZpGjsQgEAh0m81m5zbwkYCUkoiIAaDZbH4qFAqHrVbr9fHxcQPA+XDw2dkZ4KzYNE0bgH0b+BUBZmbTNDubm5u7vV7vbb1ebwD4Pg7IdRnWAWnbtr2+vv6s3++/r1QqH9yAA4AAQIlEIlStVj82Go1auVwuA+i6AQcuP4H0eDxfa7Xat2q1WnHglhtw4OfVS3GegQN37U74O5lppplmmv8rPwASD9QndA1UPgAAAABJRU5ErkJggg==),
		auto;
}
a,
a * {
	cursor: pointer;
}
p {
	cursor: text;
}
#content > #colophon {
	margin: 0 auto;
	max-width: 1300px;
	background: 0 0;
}
#content > #colophon > #colophon-inside {
	margin: 0 auto;
	width: calc(100% - 640px);
	background: #ffff;
}
#header-page-title-inside {
	background: 0 0;
	box-shadow: none;
}
#header-page-title-inside > .entry-title {
	text-align: left;
	text-shadow: 5px 5px 10px #6e6e6e;
	font-weight: bolder;
}
body.home #header-page-title-inside > .entry-title {
	text-align: center;
}
#header-page-title-inside > #breadcrumbs-container,
#header-page-title-inside > .entry-title + div {
	text-align: left;
}
#header-page-title-inside > .byline,
#header-page-title-inside > .entry-meta span:not(.bl_categ) * {
	color: #fff;
	text-shadow: 0 0 5px #000;
	font-weight: 400;
}
#header-page-title-inside > .byline {
	font-size: 1.5rem;
	font-family: riziyunxiyuangb;
}
#header-page-title-inside > .entry-meta span:not(.bl_categ) * {
	font-size: 1.1rem;
	font-family: Raleway;
}
#header-page-title-inside > .entry-meta span.bl_categ,
#header-page-title-inside > .entry-meta > .author > em,
img#wpstats {
	display: none;
}
#breadcrumbs-container {
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	background: rgba(0, 0, 0, 0.6);
}
#header-page-title-inside > .entry-meta > .author > a::after {
	content: " ·";
}
.header-fixed#site-header-main {
	box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.5);
}
.widget-container:not(#custom_html-4) {
	padding: 10px;
	border-radius: 15px;
}
.widget-container.widget_media_image {
	text-align: center;
}
article.hentry .post-thumbnail-container {
	margin: 0 auto;
	width: 90%;
}
#access > div > ul > li > a,
#site-header-main:not(.header-fixed) #access ul.sub-menu li a {
	color: #fff;
}
#site-header-main:not(.header-fixed) #access ul.sub-menu li a:hover {
	color: #ffb5a1;
}
.anima-over-menu #site-header-main:not(.header-fixed) {
	background: unset;
}
#site-header-main:not(.header-fixed) #access ul.sub-menu li a {
	background: rgba(0, 0, 0, 0.3);
}
#access > div > ul > li > ul {
	background: 0 0;
}
.entry-content blockquote::before {
	color: #fe9600;
}
#site-header-main {
	border-bottom: none;
}
#breadcrumbs-container #breadcrumbs-nav {
	color: #ddd;
	font-style: italic;
}
#wp-calendar,
.cat-item,
#archives-2 li {
	color: var(--widget-list-item-color);
}
a#logo > img {
	max-height: 60% !important;
	animation: logo-rotate 4s linear infinite normal;
}
#branding .identity + #site-text {
	margin-left: unset !important;
}
@keyframes logo-rotate {
	0% {
		transform: rotate(0);
	}
	25% {
		transform: rotate(-10deg);
	}
	50% {
		transform: rotate(0);
	}
	75% {
		transform: rotate(10deg);
	}
	100% {
		transform: rotate(0);
	}
}
cite {
	font-size: 1rem !important;
	float: right;
}
@media (max-width: 1152px) {
	#access::after {
		background: unset;
	}
	#content > #colophon > #colophon-inside {
		width: 100%;
		transform: unset;
	}
	.widget-container {
		padding: 1rem !important;
	}
	article.hentry .post-thumbnail-container {
		margin: 0 auto;
		width: 60%;
	}
}
@media (max-width: 1024px) {
	#site-text {
		display: none;
	}
	#custom_html-4 {
		margin-right: 0 !important;
		width: 100% !important;
	}
}
@media (max-width: 800px) {
	#site-text {
		display: block;
	}
	article.hentry .post-thumbnail-container {
		width: 80%;
	}
}
